<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gallery">
	<sql id="searchCondition">
		<choose>
			<when test="caption != null and writer != null">
				WHERE caption LIKE '%'||#{caption}||'%'	OR writer LIKE '%'||#{writer}||'%'
			</when>
			<when test="caption != null">
				WHERE caption LIKE '%'||#{caption}||'%'	
			</when>
			<when test="writer != null">
				WHERE writer LIKE '%'||#{writer}||'%'
			</when>
		</choose>
	</sql>
	
	<select id="getList" parameterType="galleryDto" resultType="galleryDto">
		SELECT *
		FROM (SELECT result1.*, ROWNUM AS rnum
			FROM (SELECT num,writer,caption,imagePath,regdate
				FROM board_gallery
					<include refid="searchCondition" />
					ORDER BY num DESC) result1)
      	<![CDATA[ 
      	WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
      ]]>
	</select>

	<select id="getCount" parameterType="galleryDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM board_gallery
		<include refid="searchCondition" />
	</select>   
	
	<select id="insert" parameterType="galleryDto">
		INSERT INTO board_gallery
		(num, writer, caption, imagePath, regdate )
		VALUES(board_gallery_seq.NEXTVAL, #{writer}, #{caption}, #{imagePath}, SYSDATE) 
		
	</select>
	<select id="getData" parameterType="int" resultType="galleryDto">
		SELECT result1.*
		FROM
			(SELECT num,writer,caption,imagePath,TO_CHAR(regdate, 'YY.MM.DD HH24:MI') AS regdate,
				LAG(num, 1, 0) OVER (ORDER BY num DESC) nextNum,
				LEAD(num, 1, 0) OVER (ORDER BY num DESC) prevNum
			FROM board_gallery) result1
		WHERE num=#{num}
	</select>
	<select id="getData2" parameterType="galleryDto" resultType="galleryDto">
		SELECT result1.*
		FROM
			(SELECT num,writer,caption,imagePath,TO_CHAR(regdate, 'YY.MM.DD HH24:MI') AS regdate,
				LAG(num, 1, 0) OVER (ORDER BY num DESC) nextNum,
				LEAD(num, 1, 0) OVER (ORDER BY num DESC) prevNum
			FROM board_gallery
			<include refid="searchCondition"/>
			) result1
		WHERE num=#{num}
	</select>

	<delete id="delete" parameterType="int">
		DELETE FROM board_gallery
		WHERE num=#{num}
	</delete>
	<update id="update" parameterType="galleryDto">
		UPDATE board_gallery
		SET caption=#{caption}, imagePath=#{imagePath}
		WHERE num=#{num}
	</update>
</mapper>








